<main class="container">
  <div class="content">
    <div class="left-side">
    
      <h1> Module Champ d'applications</h1>
      <h2 class="text-success"> {{titreSeance}} </h2>
    
      <p class="bg-info">Congratulations! Your app is running. 🎉</p>
      <div class="card-container"> 
        <div class="row"> 
          <div class="col-md-9" >
          <h2>Liste étudiants</h2>
          <ul>
            <app-etudiant prenomEtu="Ismaila" nomEtu="SACKO" [statut]="statutAll" commentaire="{{commentaireSeance}}" />
            <app-etudiant prenomEtu="Fodé" nomEtu="SACKO" [statut]="statutAll" commentaire="{{commentaireSeance}}"></app-etudiant>
            <app-etudiant  prenomEtu="Gaye" nomEtu="SACKO" [statut]="statutAll" [commentaire]="commentaireSeance"></app-etudiant>

          </ul>
        </div>
        <div class="col-md-2" >
          <button class="btn btn-success" [disabled]="!estAuth" 
          (click)="rendTousPresent()"> tous present 
          </button>
       </div>
      </div>
      <input type="text" class="form-control" [(ngModel)]="commentaireSeance" />  
      <p class="text-dark mt-2 bg-info">Commentaire de la séance : {{commentaireSeance}}</p>
    </div>
    </div>
  
  </div>

 
</main>



<router-outlet />
